.alert {
  max-width: 346px;
  margin: 18px auto;
}

.justify-content-center {
  max-width: 400px;
  margin: 0 auto;
}

.py-3 {
  border: solid black 1px;
  width: 90px;
  height: 90px;
  text-align: center;
  font-size: 4vw;
  margin: 0 auto;
}

.py-3:hover {
  background: whitesmoke;
}


.table {
  max-width: 300px;
  margin: 0 auto;
}