@import url('https://fonts.googleapis.com/css?family=Aldrich|Lacquer&display=swap');

.alert {
    font-family: 'Aldrich', sans-serif;
    margin: 18px auto;
    max-width: 346px;
}

button {
    font-family: 'Aldrich', sans-serif;
}

h1 {
    font-family: 'Aldrich', sans-serif;
}

input {
    font-family: 'Aldrich', sans-serif;
}

.justify-content-center {
    max-width: 400px;
    margin: 0 auto;
}

.py-3 {
    font-size: 100px;
    font-family: 'Lacquer', sans-serif;
    line-height: 50px;
    border: solid wh 1px;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 0 auto;
}

.py-3:hover {
    background: whitesmoke;
}

.table {
    max-width: 300px;
    margin: 0 auto;
}

table, th, td {
    border: 1px solid #004085 !important;
}